.header1{
    font-size: 50px;
}
body{
    background:url("/static/water.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
label{
    display: inline-block;
    width:100px;
    text-align: left;
}
.fill{
    display: block;
    position: relative;
    left: 25%;
    border: solid 3px black;
    border-radius: 10px 60px;
    padding: 40px 60px;
    max-width: 600px;
    width: 70%;
}
input{
    color: black;
    border-radius: 30px;
    height: 30px;
    width: 40%;
}